<nav class="well sidebar-nav handwrite">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-header">Pages</li>
    <li class="<%= is_active('home')   %>"> <a href=<%= root_path %>>Home</a> </li>
    <li class="<%= is_active('resume') %>"> <a href=<%= resume_path %>>Resum&eacute;</a> </li>
  </ul>

  <ul class="nav nav-pills nav-stacked">
    <li class="nav-header">Projects</li>
    <li class="<%= is_active('improv') %>"> <a href="#">Improv</a> </li>
    <li class="<%= is_active('scuba') %>"> <a href="#">SCUBA</a> </li>
    <li class="<%= is_active('china') %>"> <a href=<%= china_adventures_path %>>China Adventure</a> </li>
  </ul>
</nav>
