<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Donovan C. Young</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="container">

      <header class="row">
        <div id="text-logo"> <%= page_heading( yield(:title) ) %> </div>
        <br />
      </header>

      <div class="row">

        <div class="span9">
          <% unless yield(:subtitle).empty? %>
            <div class="body-header"><%= yield :subtitle %></div>
          <% end %>

          <%= yield :head %>

        </div>

        <% unless ( yield(:nosidebar) == true ) %>
          <div class="span3 sidebar"> <%= render 'layouts/sidebar' %> </div>
        <% end %>

        <%= yield %>

      </div>
      <div class="row"> <%= render 'layouts/footer' %> </div>
      </div>
    </div>
  </body>
</html>
