<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Donovan C. Young" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Donovan C. Young" %>">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
<div class="container">

  <%= render 'layouts/messages' %>

  <header class="row">
    <div id="text-logo" class="col-sm-12"> <%= page_heading(yield(:title)) %> </div>
  </header>

  <div class="row">

    <div class="col-sm-9">
      <% unless yield(:subtitle).empty? %>
          <div class="body-header"><%= yield :subtitle %></div>
      <% end %>
      <%= yield :head %>
    </div>

    <% unless yield(:sidebar) == 'suppress' %>
        <div class="sidebar"><%= render 'layouts/sidebar' %></div>
    <% end %>

    <main role="main">
      <%= yield %>
    </main>

  </div>
  <div class="row"> <%= render 'layouts/footer' %> </div>
</div>
</body>
</html>
